.social_icon {
    width: 22px;
    height: 22px;
    background-color: #9AB044;
  }
 .pricingCard:not(:last-child) .divider{
  border: 1px dashed #009DE2;
  width: 0px;
  margin-top: 10px;
 }
 .pricingCard:last-child{
  margin-bottom: 0px;
 }
.overlay {
  background: rgba(248,253,255,90%) !important;
}